<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sean's Pub</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link href="css/style.css" rel="stylesheet" media="all">
  <style>
    html, body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      color: #AAAAAA;
      margin: 0 auto;
      max-width: 50em;
      line-height: 1.5em;
      background-color: #373737;
    }

    h1 {
      margin-bottom: 0px;
    }

    h1, h2, strong {
      color: #AAAAAA;
    }

    a {
      color: #8BBA94;
    }

    header div {
      margin-top: 4px;
    }

    #values {
      margin-bottom: 1rem;
    }

    .item {
      font-size: small;
      margin-bottom: 0.6em;
      padding-left: 4px;
      line-height: 16px;
    }
    .item a {
      font-weight: bold;
      font-size: 15px;
      text-decoration-line: none;
    }
    .date {
      margin-left: 2em;
      margin-top: 0.25em;
    }
    .comment {
      font-size: small;
      margin-left: 2em;
      margin-top: 0.25em;
    }

    @media (max-width: 480px) {
      body {
        padding: 1em;
      }
    }

    table {
      width: 100%;
      text-align: center;
    }
    th, td {
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 4px;
    }
  </style>
</head>
<body>

  <header>
    <h1>Sean's . Pub</h1>
    <div id='values'>Today I will live with: {{ pvalue }}</div>
    <table>
      <tr>
        <th>This Site</th>
        <th>My Sites</th>
        <th>Other Sites</th>
      </tr>
      <tr>
        <td><a href="/">Home</a></td>
        <td><a href="https://blog.seans.pub/">Blog</a></td>
        <td><a href="https://pinboard.in/u:seanclynch/">Pinboard</a></td>
      </tr>
      <tr>
        <td><a href="#activity">Activity</a></td>
        <td><a href="https://cloud.seans.pub/">Cloud</a></td>
        <td><a href="http://github.com/seanclynch">Github</a></td>
      </tr>
      <tr>
        <td><a href="#projects">Projects</a></td>
        <td><a href="https://wiki.seans.pub/">Wiki</a></td>
        <td><a href="https://www.linkedin.com/in/sean-lynch-45898688">Linkedin</a></td>
      </tr>
      <tr>
        <td><a href="#contact">Contact</a></td>
        <td>
        <td><a href="https://twitter.com/greenitalics">Twitter</a></td>
      </tr>
    </table>
  </header>

  <section id="activity">
    <h3>Recent Activity</h3>
    {{#each items}}
      <div class="item">
        <div class="link"><a href="{{url}}">{{title}}</a></div>
        <div class="date">on {{source}} {{nicedate datetime}}</div>
      {{#if comment}}
        <div class="comment">{{comment}}</div>
      {{/if}}
      </div>
    {{/each}}
  </section>

  <section id="intro">
    <h3>Hey! Welcome!</h3>
    <p>Sean is a software developer and <abbr title="one who builds and studies novel digital communities">technographer</abbr> from Philly. He specializes in building web applications and evaluating digital communities. For fun he plays many different types of games and likes to be outside with friends. This website is his home on the web, where he serves up great links and aggregates his digital life.</p>
  </section>
  <!-- <section id="writing">
    <h3>Writing from <a href="https://blog.seans.pub/">The Technographer</a></h3>
    11 Mar 2019 - <a href="#">Clay Shirky on Building Social Software</a><br>
    11 Dec 2018 - <a href="#">Imzy Closing</a><br>
    12 Nov 2018 - <a href="#">Checklisting.Club</a><br>
    12 Mar 2018 - <a href="#">Tilde Communities</a><br>
    2 Feb 2015 - <a href="#">Whistling, Ice Skating and Doing Everything</a><br>
    5 Nov 2013 - <a href="#">Consuming, Creating</a><br>
    24 Oct 2013 - <a href="#">Modern Witchcraft</a><br>
  </section> -->

  <section id="projects">
    <h3>Active Projects</h3>
    <a href="https://blog.seans.pub/">The Technographer</a> - My blog.<br>
    <a href="https://checklisting.club/">Checklisting.Club</a> - Collaborative preparedness SaaS.<br>
    <a href="https://the.vfanews.club/">The VFA News Club</a> - Clone of lobste.rs for VFA.<br>
    <a href="https://projects.seans.pub/minecraft-custom-json/">Minecraft Custom JSON Generator</a> - Custom world generator for Minecraft.<br>
    <a href="https://github.com/CodeForPhilly/laddr-python">Laddr-Python</a> - Beginner-friendly clone of laddr.<br>
    <a href="http://greenitalics.deviantart.com/">Cartography</a> - My own drawings and maps.<br>
    <h3>Past Projects</h3>
    <a href="http://pennappsfellows.com/">PennApps Fellows</a> - Summer internship program in Philly.<br>
    <a href="http://devpost.com/software/pillpal-n2kxgo">PillPal</a> - Pill dispenser, 3rd place at PennApps XIII.<br>
    <a href="https://github.com/SeanCLynch/better_swipe_access">Better Swipe Access</a> - A card swipe access system for machine shops.<br>
    <a href="https://www.dropbox.com/s/c6kbas5n8l2roq2/Sean%20Lynch%20Senior%20Thesis%20Draft.pdf?dl=0">Senior Thesis</a> - On detecting novel communities.<br>
    <a href="https://www.dpvcc.org/">DVPCC</a> - Private community for cancer researchers.<br>
    <!-- TEMPLATE <a href="#">Laddr</a><br> -->
  </section>

  <section id="contact">
    <h3>Contact Me</h3>
    <p>I really enjoy hearing from people, so feel free to email me at seanjcrl at that popular google mail service .com. I'm not always the quickest to reply, but I'll do my best to get back to you!
  </section>

</body>
</html>

