<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sean's Pub</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link href="css/style.css" rel="stylesheet" media="all">
  <style>
    html, body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      color: #555;
      margin: 0 auto;
      max-width: 50em;
      line-height: 1.5em;
    }

    h1, h2, strong {
      color: #333;
    }

    a {
      color: #8BBA94;
    }

    header div {
      margin-top: 4px;
    }

    .item {
      font-size: small;
    }

    .comment {
      font-size: small;
      margin-left: 2em;
    }

    @media (max-width: 480px) {
      body {
        padding: 2em;
      }
    }
  </style>
</head>
<body>

  <header>
    <h1>Sean's . Pub</h1>
    <nav> <!-- This Site -->
      <a href="/">Home</a>
      | 
      <a href="#activity">Activity</a>  
      | 
      <a href="#projects">Projects</a>
      | 
      <a href="#contact">Contact</a>
    </nav>
    <div> <!-- Other Sites --> 
      <a href="https://pinboard.in/u:seanclynch/">Pinboard</a>
      | 
      <a href="http://github.com/seanclynch">Github</a>
      | 
      <a href="https://www.linkedin.com/in/sean-lynch-45898688">Linkedin</a>  
      | 
      <a href="https://twitter.com/greenitalics">Twitter</a>
    </div>
    <div> <!-- Selfhosted Sites -->
      <a href="https://blog.seans.pub/">Blog</a>
      |  
      <a href="https://cloud.seans.pub/">Cloud</a>
      | 
      <a href="https://wiki.seans.pub/">Wiki</a>
    </div>
  </header>

  <section id="intro">
    <h3>Hey! Welcome!</h3>
    <p>Sean is a software developer and <abbr title="one who builds and studies novel digital communities">technographer</abbr> from Philly. He specializes in building web applications and evaluating digital communities. For fun he plays many different types of games and likes to be outside with friends. This website is his home on the web, where he serves up great links and aggregates his digital life.</p>
  </section>

  <section id="activity">
    <h3>Recent Activity</h3>
    {{#each items}}
      <div class="item">
        <!-- <span class="type">({{source}} - </span> -->
        <span class="date">({{nicedate datetime}}) - </span>
        <span class="link"><a href="{{url}}">{{title}}</a></span>
      </div>
      {{#if comment}}
        <span class="comment">{{comment}}</span>
      {{/if}}
    {{/each}}
  </section>

  <!-- <section id="writing">
    <h3>Writing from <a href="https://blog.seans.pub/">The Technographer</a></h3>
    11 Mar 2019 - <a href="#">Clay Shirky on Building Social Software</a><br>
    11 Dec 2018 - <a href="#">Imzy Closing</a><br>
    12 Nov 2018 - <a href="#">Checklisting.Club</a><br>
    12 Mar 2018 - <a href="#">Tilde Communities</a><br>
    2 Feb 2015 - <a href="#">Whistling, Ice Skating and Doing Everything</a><br>
    5 Nov 2013 - <a href="#">Consuming, Creating</a><br>
    24 Oct 2013 - <a href="#">Modern Witchcraft</a><br>
  </section> -->

  <section id="projects">
    <h3>Projects</h3>
    <a href="https://blog.seans.pub/">The Technographer</a> - My blog.<br>
    <a href="https://checklisting.club/">Checklisting.Club</a> - Collaborative preparedness SaaS.<br>
    <a href="https://the.vfanews.club/">The VFA News Club</a> - Clone of lobste.rs for VFA.<br>
    <a href="https://github.com/CodeForPhilly/laddr-python">Laddr-Python</a> - Beginner-friendly clone of laddr.<br>
    <a href="http://pennappsfellows.com/">PennApps Fellows</a> - Summer internship program in Philly.<br>
    <a href="http://devpost.com/software/pillpal-n2kxgo">PillPal</a> - Pill dispenser, 3rd place at PennApps XIII.<br>
    <a href="https://github.com/SeanCLynch/better_swipe_access">Better Swipe Access</a> - A card swipe access system for machine shops.<br>
    <a href="http://greenitalics.deviantart.com/">Cartography</a> - My own drawings and maps.<br>
    <a href="https://www.dropbox.com/s/c6kbas5n8l2roq2/Sean%20Lynch%20Senior%20Thesis%20Draft.pdf?dl=0">Senior Thesis</a> - On detecting novel communities.<br>
    <a href="https://www.dpvcc.org/">DVPCC</a> - Private community for cancer researchers.<br>
    <!-- TEMPLATE <a href="#">Laddr</a><br> -->
  </section>

  <section id="contact">
    <h3>Contact Me</h3>
    <p>I really enjoy hearing from people, so feel free to email me at seanjcrl at that popular google mail service .com. I'm not always the quickest to reply, but I'll do my best to get back to you!
  </section>

</body>
</html>

